@import './range-input-original';
@import '../../styles/colors';

.slider-label-container {
  display: flex;
  align-items: center;

  .slider-label {
    font-size: 1.125rem;
  }
}

.slider-val-container {
  border: $mondrian-border;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: stretch;
  overflow: hidden;
}

.slider-val-input,
.slider-val {
  border: 0;
  outline: none;
  padding: 2px 6px;
  flex: 0 1 5rem;
  width: 5rem;
  text-align: center;
}

.slider-val-unit {
  border-left: $mondrian-border;
  display: inline-flex;
  align-items: center;
  padding: 2px 6px;
  line-height: 1;
  font-weight: 400;
  background: $light-blue-gray;
}
