@import '../../styles/colors';
@import '../../styles/general';

.browser-window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  z-index: 5;

  * {
    box-sizing: inherit;
  }

  &.shadow-small {
    box-shadow: $box-shadow-md;
  }

  &.shadow-large {
    box-shadow: $box-shadow-lg;
  }

  .header-bar {
    background: #3d4148;
    flex: 0 0 2.5em;
    display: flex;
    align-items: center;
  }

  .address-bar {
    background: white;
    color: #222;
    flex: 1;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    margin: 0 2em;
    max-width: 100%;
    height: 1.75em;
    min-width: 0;
    cursor: text;
  }

  .address {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin: 0 0.5em;
    /* Make overflowing URL shorten  */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .screenshot-image {
    width: 100%;
  }

  .favicon {
    height: 1em;
    width: 1em;
    flex: 0 0 1em;
    margin-left: 0.5em;
  }

  &.skinny {
    .address-bar {
      margin: 0 1em;
    }
  }

  &.mondrian {
    border: $mondrian-border;

    .header-bar {
      background: #fff;
      border-bottom: $mondrian-border;
      flex: 0 0 2.75em;
      border-radius: 0;
    }

    .address-bar {
      border: $mondrian-border;
    }

    .address {
      font-size: 0.875em;
      font-weight: 600;
    }

    .screenshot-image {
      border-radius: 0;
    }
  }

  &.apple {
    border-radius: 0.375em;

    .header-bar {
      border-top-left-radius: 0.375em;
      border-top-right-radius: 0.375em;
    }

    .screenshot-image {
      border-bottom-left-radius: 0.375em;
      border-bottom-right-radius: 0.375em;
    }

    &.dark {
      .header-bar {
        background: $apple-dark;
      }

      .address-bar {
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
        background: $apple-dark-accent;
      }

      .address {
        color: $off-white;
      }
    }

    &.light {
      .header-bar {
        background: $apple-light;
      }

      .address-bar {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.windows10 {
    .address-bar {
      border-radius: 0;
    }

    address {
      padding-left: 0.5em;
    }

    .address {
      padding-left: 0.5em;
    }

    &.light {
      background: $windows-light;
      border: 1px solid $windows-light-accent;

      .header-bar {
        background: $windows-light;
        border-bottom: 1px solid $windows-light-accent;
      }

      .address-bar {
        border: 1px solid $windows-light-accent;
      }

      .address {
        border-left: 1px solid $windows-light-accent;
      }
    }

    &.dark {
      background: $windows-dark;
      border: 1px solid $windows-dark-accent;

      .header-bar {
        background: $windows-dark;
        border-bottom: 1px solid $windows-dark-accent;
      }

      .address-bar {
        border: 1px solid $windows-dark-accent;
      }

      .address {
        border-left: 1px solid $windows-light-accent;
      }
    }
  }

  &.windows98 {
    @include border-outset;
    background: #c0c0c0;
    padding: 0 0.25em 0.25em 0.25em;

    .header-bar {
      background: #c0c0c0;
      flex: 0 0 2em;
    }

    .address-bar {
      @include border-inset;
      border-radius: 0;
      height: 1.4375em;
    }

    .favicon {
      flex: 0 0 0.8125em;
      width: 0.8125em;
      height: 0.8125em;
    }

    .address {
      font-size: 0.875em;
    }

    .web-frame-placeholder {
      @include border-inset;
      background: $off-white;
      border-width: $border-width;
    }

    .screenshot-image {
      @include border-inset;
      border-radius: 0;
      border-width: $border-width;
    }
  }
}

#export {
  width: 80%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.web-frame-placeholder {
  height: calc((100vw - 20em) * 0.6 / (16 / 9));
  display: flex;
  justify-content: center;
  background: $off-white;
  width: 100%;

  .content {
    margin: 3rem;
    display: block;

    h1 {
      margin: 2rem 0;
      display: block;
      text-align: center;
      font-weight: 400;
    }

    strong {
      font-weight: 600;
    }

    p {
      font-size: 1.375em;
      line-height: 1.666;
      text-align: center;
    }
  }
}

// iframe {
//   border: 0;
//   border-bottom-left-radius: 0.375em;
//   border-bottom-right-radius: 0.375em;
//   min-height: 720px;
// }
