@import '../../styles/colors';
@import '../../styles/general';

.swatch-container {
  position: relative;
  margin-bottom: 1rem;
}

.swatch {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
  height: 2rem;
  border-radius: 0.25rem;
}

.eye-dropper-button {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.eye-dropper-icon {
  color: inherit;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.color {
  border-radius: 0.25rem;
  width: 100%;
  border: $mondrian-border;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.color-picker-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -2px;
  background: $off-white;
  z-index: 10;
  border-right: $mondrian-border;
  padding: 1rem;
  height: calc(100% - 4rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &.open {
    transform: translateX(2px);
    transition: 0.25s all ease-in;
  }

  &.closed {
    transform: translateX(-100%);
    transition: 0.25s all ease-out;
  }

  header {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    color: black;

    span {
      margin-left: 1rem;
      transition: 0.08s ease-out;
    }

    svg {
      transition: 120ms ease-out all;
    }

    &:hover svg {
      transform: translateX(6px);
    }
  }
}

.gradient_picker {
  width: 100%;
  background: white;
  z-index: 50;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 0.125rem 0.25rem 0.125rem;
  flex-grow: 0;
  flex-shrink: 1;
  border: $mondrian-border;
}

.gradient_tile {
  width: calc(50% - 0.25rem);
  height: 5rem;
  cursor: pointer;
  margin: 0.25rem 0.125rem 0 0.125rem;
  transition: ease-out all 0.1s;
  border: 0 solid $mondrian-blue;

  &:hover {
    border-width: 4px;
  }
}

.color-picker-row-picker {
  margin-top: 0.75rem;
}
