@import '../../styles/colors';
@import '../../styles/general';

.row-input {
  display: flex;
  background: $mondrian-blue;
  border: $mondrian-border;
  margin-top: 0.5rem;
}

.row-input-option {
  flex: 1;
  @include flex-center;
  color: $off-white;
  padding: 0.5rem 0.25rem;
  border-right: $mondrian-border;
  cursor: pointer;

  &.selected {
    background: $mondrian-blue-shade;
  }

  &:last-child {
    border-right: 0;
  }
}
