#header {
  border-bottom: 2px solid #333;
  display: flex;
  flex: 0 0 4rem;

  .logo {
    flex: 0 0 20rem;
    border-right: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-family: 'Sulphur Point', 'Muli', sans-serif;
    line-height: 1.5;
  }

  .search-form {
    height: 100%;
    flex: 1;
    display: flex;

    input.address-input {
      flex: 1;
      border: 0;
      outline: none;
      box-sizing: border-box;
    }

    button {
      font-family: 'Sulphur Point', 'Muli', sans-serif;
      font-weight: 300;
      font-size: 1.75rem;
      // text-transform: uppercase;
      letter-spacing: 1px;
      border: 0;
      flex: 0 0 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px solid #333;
    }
  }
}
