@import '../../styles/colors';
@import '../../styles/general';

#sidebar {
  flex: 0 0 20rem;
  border-right: $border-width solid $off-black;
  height: 100%;

  .download-button {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}
