@import '../../styles/colors';
@import '../../styles/general';

#sidebar {
  flex: 0 0 20rem;
  border-right: $mondrian-border;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    font-weight: 400;
  }

  .sidebar-content {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;

    & > *:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    & > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .download-button {
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.375rem;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container {
    margin-top: 1.5rem;

    label {
      display: block;
      text-align: left;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
  }

  h2 {
    display: flex;
    justify-content: space-between;
  }
}
