@import '../../styles/colors';
@import '../../styles/general';

.github-button {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: $border-width solid $off-black;
  background: $off-black;
  flex: 0 0 4rem;

  .github-button-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $off-white;
  }

  &:hover {
    background: $off-white;

    .github-button-icon {
      fill: $off-black;
    }
  }
}
