@import '../../styles/colors';
@import '../../styles/general';

.github-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;

  .github-button-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: rgba(34, 34, 34, 0.4);
  }

  &:hover {
    .github-button-icon {
      fill: rgba(34, 34, 34, 1);
    }
  }
}
