@import './styles/colors';
@import './styles/general';

.App {
  background-color: $off-white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-body-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

input,
button {
  font-size: 1.125rem;
  outline: none;
}

button {
  flex: 0 0 auto;
  color: white;
  background: $mondrian-blue;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: 0.125rem solid $off-black;
  transition: 80ms ease-out all;
  user-select: none;

  &:hover {
    background: $mondrian-blue-shade;
  }

  &:disabled,
  &:disabled:hover {
    background: $disabled-background;
    color: $disabled-text;
    cursor: default;
  }
}

// .export-size {
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   background: $off-white;
//   padding: 0.5rem;
//   border: $border-width solid $off-black;
//   // border-left: $border-width solid $off-black;
// }

.export-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h3.label {
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
}
