.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 30rem;
}

input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: 0;
}

input {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  flex: 1;
}

button {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  flex: 0 0 auto;
  color: white;
  background: #3498db;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: darkgrey;
  cursor: default;
}

#export {
}
